<section>
  <picture class="w-full block">
    <img class="w-full h-auto object-cover" src="./assets/images/bgCategoriamasculino.jpg" alt="Moda Masculina" />
  </picture>

  <nav class="w-1/2 p-28">
    <h2 class="text-5xl font-semibold mb-12">Categorias</h2>

    <ul class="flex items-center justify-between gap-2">
      <li
        class="grid justify-items-center items-start w-60 h-48 text-center transition-transform duration-300 ease-in-out transform hover:scale-105"
      >
        <a href="#" class="block shadow-xl rounded-lg p-4">
          <img
            src="./assets/images/categoriaMasculino.png"
            alt="Masculino"
            class="w-full h-[120px] object-contain"
          />
        </a>
        <p class="text-2xl mt-2">Masculino</p>
      </li>
      <li
        class="grid justify-items-center items-start w-60 h-48 text-center transition-transform duration-300 ease-in-out transform hover:scale-105"
      >
        <a href="#" class="block shadow-xl rounded-lg p-4">
          <img
            src="./assets/images/categoriaFeminina.png"
            alt="Feminino"
            class="w-full h-[120px] object-contain"
          />
        </a>
        <p class="text-2xl mt-2">Feminino</p>
      </li>
      <li
        class="grid justify-items-center items-start w-60 h-48 text-center transition-transform duration-300 ease-in-out transform hover:scale-105"
      >
        <a href="#" class="block shadow-xl rounded-lg p-4">
          <img
            src="./assets/images/categoriaInfantil.png"
            alt="Infantil"
            class="w-full h-[120px] object-contain"
          />
        </a>
        <p class="text-2xl mt-2">Infantil</p>
      </li>
      <li
        class="grid justify-items-center items-start w-60 h-48 text-center transition-transform duration-300 ease-in-out transform hover:scale-105"
      >
        <a href="#" class="block shadow-xl rounded-lg p-4">
          <img
            src="./assets/images/categoriaCalcados.png"
            alt="Calçados"
            class="w-full h-[120px] object-contain"
          />
        </a>
        <p class="text-2xl mt-2">Calçados</p>
      </li>
      <li
        class="grid justify-items-center items-start w-60 h-48 text-center transition-transform duration-300 ease-in-out transform hover:scale-105"
      >
        <a href="#" class="block shadow-xl rounded-lg p-4">
          <img
            src="./assets/images/categoriaAcessorios.png"
            alt="Acessórios"
            class="w-full h-[120px] object-contain"
          />
        </a>
        <p class="text-2xl mt-2">Acessórios</p>
      </li>
    </ul>
  </nav>

  <picture class="w-full flex justify-items-center px-28 ">
    <img class="w-full" src="./assets/images/bgCategoriaMasculina2.jpg" alt="">
  </picture>

  <nav class="p-28">
    <h1 class="text-5xl">Explore nossos items</h1>
    <nav class="mt-14">
      <ul class="flex flex-wrap gap-5">
        <li class="bg-white shadow-lg rounded-lg w-[calc(20%-20px)]">
          <a href="./" class="block">
            <div
              class="bg-gray-100 w-full rounded-t-lg flex items-center justify-center"
            >
              <img class="" src="./assets/images/CamisaSocial.png" alt="" />
            </div>
            <div class="p-4">
              <div>
                <div class="flex gap-1 text-yellow-500 text-lg mb-2">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
              </div>
              <h3 class="text-2xl text-gray-800 mb-2">Camisa Social</h3>
              <div class="flex gap-1 items-center">
                <p class="text-2xl">R$</p>
                <p class="text-5xl text-gray-900">79,99</p>
              </div>
              <div class="flex justify-end mt-2 gap-2">
                <button
                  class="bg-collor-b-yellow text-black px-4 py-1 rounded-3xl text-sm font-semibold hover:bg-yellow-600 hover:text-white transition-transform duration-300 ease-in-out transform hover:scale-105"
                >
                  COMPRAR
                </button>
                <i
                  class="fas fa-shopping-cart text-2xl hover:text-gray-500 transition-transform duration-300 ease-in-out transform hover:scale-110"
                ></i>
              </div>
            </div>
          </a>
        </li>

        <li class="bg-white shadow-lg rounded-lg w-[calc(20%-20px)]">
          <a href="./" class="block">
            <div
              class="bg-gray-100 w-full rounded-t-lg flex items-center justify-center"
            >
              <img class="" src="./assets/images/CamisaSocial.png" alt="" />
            </div>
            <div class="p-4">
              <div>
                <div class="flex gap-1 text-yellow-500 text-lg mb-2">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
              </div>
              <h3 class="text-2xl text-gray-800 mb-2">Camisa Social</h3>
              <div class="flex gap-1 items-center">
                <p class="text-2xl">R$</p>
                <p class="text-5xl text-gray-900">79,99</p>
              </div>
              <div class="flex justify-end mt-2 gap-2">
                <button
                  class="bg-collor-b-yellow text-black px-4 py-1 rounded-3xl text-sm font-semibold hover:bg-yellow-600 hover:text-white transition-transform duration-300 ease-in-out transform hover:scale-105"
                >
                  COMPRAR
                </button>
                <i
                  class="fas fa-shopping-cart text-2xl hover:text-gray-500 transition-transform duration-300 ease-in-out transform hover:scale-110"
                ></i>
              </div>
            </div>
          </a>
        </li>

        <li class="bg-white shadow-lg rounded-lg w-[calc(20%-20px)]">
          <a href="./" class="block">
            <div
              class="bg-gray-100 w-full rounded-t-lg flex items-center justify-center"
            >
              <img class="" src="./assets/images/CamisaSocial.png" alt="" />
            </div>
            <div class="p-4">
              <div>
                <div class="flex gap-1 text-yellow-500 text-lg mb-2">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
              </div>
              <h3 class="text-2xl text-gray-800 mb-2">Camisa Social</h3>
              <div class="flex gap-1 items-center">
                <p class="text-2xl">R$</p>
                <p class="text-5xl text-gray-900">79,99</p>
              </div>
              <div class="flex justify-end mt-2 gap-2">
                <button
                  class="bg-collor-b-yellow text-black px-4 py-1 rounded-3xl text-sm font-semibold hover:bg-yellow-600 hover:text-white transition-transform duration-300 ease-in-out transform hover:scale-105"
                >
                  COMPRAR
                </button>
                <i
                  class="fas fa-shopping-cart text-2xl hover:text-gray-500 transition-transform duration-300 ease-in-out transform hover:scale-110"
                ></i>
              </div>
            </div>
          </a>
        </li>

        <li class="bg-white shadow-lg rounded-lg w-[calc(20%-20px)]">
          <a href="./" class="block">
            <div
              class="bg-gray-100 w-full rounded-t-lg flex items-center justify-center"
            >
              <img class="" src="./assets/images/CamisaSocial.png" alt="" />
            </div>
            <div class="p-4">
              <div>
                <div class="flex gap-1 text-yellow-500 text-lg mb-2">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
              </div>
              <h3 class="text-2xl text-gray-800 mb-2">Camisa Social</h3>
              <div class="flex gap-1 items-center">
                <p class="text-2xl">R$</p>
                <p class="text-5xl text-gray-900">79,99</p>
              </div>
              <div class="flex justify-end mt-2 gap-2">
                <button
                  class="bg-collor-b-yellow text-black px-4 py-1 rounded-3xl text-sm font-semibold hover:bg-yellow-600 hover:text-white transition-transform duration-300 ease-in-out transform hover:scale-105"
                >
                  COMPRAR
                </button>
                <i
                  class="fas fa-shopping-cart text-2xl hover:text-gray-500 transition-transform duration-300 ease-in-out transform hover:scale-110"
                ></i>
              </div>
            </div>
          </a>
        </li>

        <li class="bg-white shadow-lg rounded-lg w-[calc(20%-20px)]">
          <a href="./" class="block">
            <div
              class="bg-gray-100 w-full rounded-t-lg flex items-center justify-center"
            >
              <img class="" src="./assets/images/CamisaSocial.png" alt="" />
            </div>
            <div class="p-4">
              <div>
                <div class="flex gap-1 text-yellow-500 text-lg mb-2">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
              </div>
              <h3 class="text-2xl text-gray-800 mb-2">Camisa Social</h3>
              <div class="flex gap-1 items-center">
                <p class="text-2xl">R$</p>
                <p class="text-5xl text-gray-900">79,99</p>
              </div>
              <div class="flex justify-end mt-2 gap-2">
                <button
                  class="bg-collor-b-yellow text-black px-4 py-1 rounded-3xl text-sm font-semibold hover:bg-yellow-600 hover:text-white transition-transform duration-300 ease-in-out transform hover:scale-105"
                >
                  COMPRAR
                </button>
                <i
                  class="fas fa-shopping-cart text-2xl hover:text-gray-500 transition-transform duration-300 ease-in-out transform hover:scale-110"
                ></i>
              </div>
            </div>
          </a>
        </li>

        <li class="bg-white shadow-lg rounded-lg w-[calc(20%-20px)]">
            <a href="./" class="block">
              <div
                class="bg-gray-100 w-full rounded-t-lg flex items-center justify-center"
              >
                <img class="" src="./assets/images/CamisaSocial.png" alt="" />
              </div>
              <div class="p-4">
                <div>
                  <div class="flex gap-1 text-yellow-500 text-lg mb-2">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </div>
                </div>
                <h3 class="text-2xl text-gray-800 mb-2">Camisa Social</h3>
                <div class="flex gap-1 items-center">
                  <p class="text-2xl">R$</p>
                  <p class="text-5xl text-gray-900">79,99</p>
                </div>
                <div class="flex justify-end mt-2 gap-2">
                  <button
                    class="bg-collor-b-yellow text-black px-4 py-1 rounded-3xl text-sm font-semibold hover:bg-yellow-600 hover:text-white transition-transform duration-300 ease-in-out transform hover:scale-105"
                  >
                    COMPRAR
                  </button>
                  <i
                    class="fas fa-shopping-cart text-2xl hover:text-gray-500 transition-transform duration-300 ease-in-out transform hover:scale-110"
                  ></i>
                </div>
              </div>
            </a>
          </li>

          <li class="bg-white shadow-lg rounded-lg w-[calc(20%-20px)]">
            <a href="./" class="block">
              <div
                class="bg-gray-100 w-full rounded-t-lg flex items-center justify-center"
              >
                <img class="" src="./assets/images/CamisaSocial.png" alt="" />
              </div>
              <div class="p-4">
                <div>
                  <div class="flex gap-1 text-yellow-500 text-lg mb-2">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </div>
                </div>
                <h3 class="text-2xl text-gray-800 mb-2">Camisa Social</h3>
                <div class="flex gap-1 items-center">
                  <p class="text-2xl">R$</p>
                  <p class="text-5xl text-gray-900">79,99</p>
                </div>
                <div class="flex justify-end mt-2 gap-2">
                  <button
                    class="bg-collor-b-yellow text-black px-4 py-1 rounded-3xl text-sm font-semibold hover:bg-yellow-600 hover:text-white transition-transform duration-300 ease-in-out transform hover:scale-105"
                  >
                    COMPRAR
                  </button>
                  <i
                    class="fas fa-shopping-cart text-2xl hover:text-gray-500 transition-transform duration-300 ease-in-out transform hover:scale-110"
                  ></i>
                </div>
              </div>
            </a>
          </li>

          <li class="bg-white shadow-lg rounded-lg w-[calc(20%-20px)]">
            <a href="./" class="block">
              <div
                class="bg-gray-100 w-full rounded-t-lg flex items-center justify-center"
              >
                <img class="" src="./assets/images/CamisaSocial.png" alt="" />
              </div>
              <div class="p-4">
                <div>
                  <div class="flex gap-1 text-yellow-500 text-lg mb-2">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </div>
                </div>
                <h3 class="text-2xl text-gray-800 mb-2">Camisa Social</h3>
                <div class="flex gap-1 items-center">
                  <p class="text-2xl">R$</p>
                  <p class="text-5xl text-gray-900">79,99</p>
                </div>
                <div class="flex justify-end mt-2 gap-2">
                  <button
                    class="bg-collor-b-yellow text-black px-4 py-1 rounded-3xl text-sm font-semibold hover:bg-yellow-600 hover:text-white transition-transform duration-300 ease-in-out transform hover:scale-105"
                  >
                    COMPRAR
                  </button>
                  <i
                    class="fas fa-shopping-cart text-2xl hover:text-gray-500 transition-transform duration-300 ease-in-out transform hover:scale-110"
                  ></i>
                </div>
              </div>
            </a>
          </li>

          <li class="bg-white shadow-lg rounded-lg w-[calc(20%-20px)]">
            <a href="./" class="block">
              <div
                class="bg-gray-100 w-full rounded-t-lg flex items-center justify-center"
              >
                <img class="" src="./assets/images/CamisaSocial.png" alt="" />
              </div>
              <div class="p-4">
                <div>
                  <div class="flex gap-1 text-yellow-500 text-lg mb-2">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </div>
                </div>
                <h3 class="text-2xl text-gray-800 mb-2">Camisa Social</h3>
                <div class="flex gap-1 items-center">
                  <p class="text-2xl">R$</p>
                  <p class="text-5xl text-gray-900">79,99</p>
                </div>
                <div class="flex justify-end mt-2 gap-2">
                  <button
                    class="bg-collor-b-yellow text-black px-4 py-1 rounded-3xl text-sm font-semibold hover:bg-yellow-600 hover:text-white transition-transform duration-300 ease-in-out transform hover:scale-105"
                  >
                    COMPRAR
                  </button>
                  <i
                    class="fas fa-shopping-cart text-2xl hover:text-gray-500 transition-transform duration-300 ease-in-out transform hover:scale-110"
                  ></i>
                </div>
              </div>
            </a>
          </li>

          <li class="bg-white shadow-lg rounded-lg w-[calc(20%-20px)]">
            <a href="./" class="block">
              <div
                class="bg-gray-100 w-full rounded-t-lg flex items-center justify-center"
              >
                <img class="" src="./assets/images/CamisaSocial.png" alt="" />
              </div>
              <div class="p-4">
                <div>
                  <div class="flex gap-1 text-yellow-500 text-lg mb-2">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </div>
                </div>
                <h3 class="text-2xl text-gray-800 mb-2">Camisa Social</h3>
                <div class="flex gap-1 items-center">
                  <p class="text-2xl">R$</p>
                  <p class="text-5xl text-gray-900">79,99</p>
                </div>
                <div class="flex justify-end mt-2 gap-2">
                  <button
                    class="bg-collor-b-yellow text-black px-4 py-1 rounded-3xl text-sm font-semibold hover:bg-yellow-600 hover:text-white transition-transform duration-300 ease-in-out transform hover:scale-105"
                  >
                    COMPRAR
                  </button>
                  <i
                    class="fas fa-shopping-cart text-2xl hover:text-gray-500 transition-transform duration-300 ease-in-out transform hover:scale-110"
                  ></i>
                </div>
              </div>
            </a>
          </li>
      </ul>
    </nav>
  </nav>

</section>
